.imgArticle{
    height: 16.75rem;
    border-radius: 10px;
    margin-top: 40px;
}

.containerDivArt{
    position: static;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    height: 700px;
    width: 1600px;
    border-radius: 40px;
    /* background-color: rgba(228, 215, 215, 0.363); */
    
    /* transform: translateY(20%); */
}
.newsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slick-current{
    /* border-radius: 40px; */
    position: relative;
    /* height: 700px !important; */
    background-image: url('https://raw.githubusercontent.com/julianactrl/yoAgronomoApp/dev/client/src/assets/pngegg.png');
    background-position: center;
    background-position:top;
    background-size:115%;
    background-color: #ffffffb6 !important;
    margin: 0 !important;
    padding-top: 40px;
    box-shadow: 1px 0px 10px 20px rgba(0, 0, 0, 0.25) !important;
}
.slider .slick-current:hover{
    transition: 0.9s;
    background-size: 125%;
    background-color: #43748a46 !important;
    box-shadow: 5px 5px 40px black;
    color: #b5abab;
}
/* .slick-active{
    margin-top: 100px;
} */
.slider .slick-slide{
    margin-top: 100px;
    background-color:#ffffffb6;
    /* border-bottom-left-radius: 40px; */
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    transition: 1s;
}
.subContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 800px;
    width: 1800px;
    animation-name: aparecer;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
.subContainerAct{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 800px;
    width: 1800px;
    animation-name: aparecer;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
}
@keyframes aparecer {
    from {
        height:0;
        width:0px;
        opacity: 0;
    }

    to {
        height: 100%;
        width: 100%;
       opacity: 1;
    }
}

.articleTitle{
    font-size: 25px;
    font-variant-position: sub ;
    margin-left: 15px;
    width: 490px;
    font-weight: bolder;
    font-family: "Segoe UI";
    height: 100px;
}
.articlesContainer{
    position: relative;
    top:30px;
    padding: 20px ;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align:left;
    height: 500px;
}

.cardNew{
    position: relative;
    left: 40px;

}
.linkArt{
    text-decoration: none;
    color: black;
}
.slick-current:hover .linkArt{
    color: rgb(255, 255, 255) !important;
}
.slick-slide:hover .linkArt{
    color: black;
}

.titleNews{
    color: whitesmoke;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.containerLoading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingGif{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.nextBtn{
    background-image: url('../../assets/arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 60px;
    left: 55%;
    top: 0vh;
    transform: rotate(-90deg);
    height: 60px;
    border-radius: 60px;
    
}
.nextBtn:hover{
    transition: 0.3s;
    background-size: 100px;
    cursor: pointer;
}
.nextBtn:active{
    background-size: 50px;
}
.prevBtn{
    background-image: url('../../assets/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 42%;
    top: 71.5vh;
    transform: rotate(90deg);
    width: 60px;
    height: 60px;
    border-radius: 60px;

}
.prevBtn:hover{
    transition: 0.3s;
    background-size: 100px;
    cursor: pointer;

}
.prevBtn:active{
    background-size: 50px;
}
.carruselCont{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.newsTitle{
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}
.parpadeo {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}