.imgArticle{
    height: 16.75rem;
    border-radius: 20px;
}

.containerDivArt{
    position: static;
    height: 700px;
    width: 1600px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.212);
    /* transform: translateY(20%); */
}
.newsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.subContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 800px;
    width: 1800px;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
.subContainerAct{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 800px;
    width: 1800px;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: initial;
}
@keyframes aparecer {
    from {
        height:0;
        width:0px;
        opacity: 0;
    }

    to {
        height: 600px;
        width: 1600px;
       opacity: 1;
    }
}

.articleTitle{
    font-size: 25px;
    font-variant-position: sub ;
    margin-left: 15px;
    width: 490px;
    font-weight: bolder;
    font-family: "Segoe UI";
    height: 100px;
}
.articlesContainer{
    position: relative;
    top:30px;
    padding: 20px ;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align:left;
    height: 450px;
    background-color: rgba(255, 0, 0, 0.013);
}

.cardNew{
    position: relative;
    left: 20px;
    bottom: 20px;

}
.linkArt{
    text-decoration: none;
    color: black;
}

.titleNews{
    color: whitesmoke;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.containerLoading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingGif{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.nextBtn{
    background-image: url('../../assets/arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 60px;
    left: 850px;
    top: 70px;
    transform: rotate(-90deg);

    height: 60px;
    border-radius: 60px;
    
}
.nextBtn:hover{
    transition: 0.3s;
    background-size: 100px;
    cursor: pointer;
}
.nextBtn:active{
    background-size: 50px;
}
.prevBtn{
    background-image: url('../../assets/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 620px;
    left: 650px;
    transform: rotate(90deg);
    width: 60px;
    height: 60px;
    border-radius: 60px;

}
.prevBtn:hover{
    transition: 0.3s;
    background-size: 100px;
    cursor: pointer;

}
.prevBtn:active{
    background-size: 50px;
}