.contCard{
    position: relative;
    cursor: pointer;
    flex-direction: column;
    /* left: 25%; */
    justify-content:center;
    align-items: center;
    width: 36vh;
    height: 21vh;
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    /* box-shadow: 0px 0 0 25px green; */
}
.contCard:hover  .detail  {
    transition: all 0.4s;
    height: 100%;

}
.contCard:hover{
    transition: all 0.4s;
    border-radius: 30px;

}
.contCard:hover .img{
    transition: all 0.4s;
    

}
.contCard:hover .detailOculto  {
    transition: 0.6s;
    display:flex;

}

.icon{
    position: absolute;
    bottom: 33vh;
    left: 68vh;
    width: 40px;
    height: 40px;
}
.img{
    background-color: black;
    width:100%;
    height: 100%;
    border-radius: 7px;
}
.detail{
    color: white !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 30px black;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.603);
}
.detailOculto{
    display: none;
    /* border: 3px solid white; */
    padding: 10px;
    opacity: 1;
    font-size: 20px;
    animation-name: aparecer;
    animation-duration: 1s;
    height: 60%;
    margin-bottom: 10px;
    width: 100%;
    font-size: 50%;
    animation-iteration-count:initial;
    animation-timing-function: ease;
    flex-direction: column;
    /* border: 2px solid white; */
    justify-content: center;
    align-items: center;
    color: white !important;

    justify-content: space-between;
}
@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        display: flex;
    }
    
}
.contH2{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* border: 2px solid wheat; */
}
.text{
    color: greenyellow;
    position: relative;
    top: 20%;
    font-family: Roboto;
    font-size: 20px;
}
.clima,
.hectareas{
    position: relative;
    top: 25%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
@media (max-width: 425px){
    .contCard{
        box-shadow: 0 0 5px black;
        position: relative;
        width: 90%;
        top: 5vh;
        left: 5%;
        background-color: #ebebebfd;
        height: 38vh;
    }
    .detail{
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 5px black;
    }
}