body{
    margin: 0;
    /* background: linear-gradient(to bottom, rgba(31, 31, 31, 0.575), rgba(0, 0, 0, 0.753)),
    url('https://w.wallha.com/ws/5/ez5lK3xB.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important; */
    /* overflow: hidden; */
}