/* import styled from 'styled-components'; */
/* import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'; */

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 3px solid saddlebrown; */
    /* background-color: saddlebrown; */
    /* width: 100%; */
}
.contCard{
    position: relative;
    top: 5rem;
    display: flex;
    width: 150vh;
    height: 70vh;
    -webkit-perspective: 4000;
}

.formCont{
    color: rgb(7, 7, 7);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: fixed;
    bottom: 5vh;
    display: flex;
    padding-top: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.486);

}

.fomulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    /* border: 3px solid rgb(146, 185, 37); */
}

.fomularioInputs{
    position: relative;
    /* left: 1.5rem; */
    bottom: 4rem;
    display: grid;
    padding-left: 10px;
    align-items: center;
    padding-bottom: 2rem;
    gap: 15px;
    /* text-align: center; */
    width: 67%;
    height: 46%;
    /* grid-template-columns: max-content; */
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: rgba(180, 118, 107, 0.164); */
}
.labelInput{
    /* background-color: sandybrown; */
    height: 80%;
    font-size: 25px;
}
.btnDetails{
    border:none;
    position: relative;
    top: 0.5rem;
    text-decoration: none;
    background: rgb(128, 128, 128);
    height: 10%;
    width: 60%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color:#708857 ;
    color:rgb(255, 255, 255);
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    font-size: 2.5vh;
}
.btnDetails:hover{
    background-color: #27963c;
    color: #ffffff;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}
.card2{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    box-shadow: 0 0 10px black;
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* boton cerrar */

.cross{
    position: relative;
    left: 30%;
    /* bottom: 30vh; */
    border: none;
    background: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.329)),
    url('../../../assets/cross.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width:6vh;
    height:6vh;
    border-radius: 10vh;
}
.cross:hover{
    background-image: url('../../../assets/cross.png');
    background-size: 90%;
    cursor: pointer;

}
.alertaP{
    font-size: 20px;
    color: #bb2929;
    opacity: 0;
    transition: all 0.3s;
}
.alertaError{
    font-size: 20px;
    color: #bb2929;
    opacity: 1;
    transition: all 0.3s;
}

/* inputss */
.inputs::placeholder{
    color: rgb(0, 0, 0);
}

/* input{
    border: none;
    outline: none;
    padding: 10px;
    width: 360px;
    border-radius: 5px;
    margin: 10px 0;
} */


.label{
    display: block;
    font-weight: 900;
    /* color: rgb(255, 0, 0); */
}

.contIcono{
    position: absolute;
    /* right: 10px; */
    /* bottom: 14px; */
    top: 1.7rem;
    color: #27963c;
    left: 44.2rem;
    font-size: 25px;
    z-index: 100;
    /* opacity: 0; */
}
.contIconoError{
    position: absolute;
    /* right: 10px; */
    /* bottom: 14px; */
    top: 1.7rem;
    color: rgb(255, 0, 0);
    left: 44.2rem;
    font-size: 25px;
    z-index: 100;
}

/* Contenedor del input */
.contenedorInputs{
    position: relative;
}
.inputs{
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    transition: .3s ease all;
    border: 2px solid transparent;
    padding:  10px 40px 10px 10px;
    box-shadow: 0 0 5px transparent;
    /* pad: 0 40% 0px 0px; */
}
.inputsError{
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    transition: .3s ease all;
    /* border: 2px solid rgb(255, 0, 0); */
    box-shadow: 0 0 7px rgb(255, 0, 0);
    padding:  10px 40px 10px 10px
}

.inputs:focus {
    border: 2px solid #00ff007e;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

/* Header titulo y boton cerrar */
.contenedorCross{ 
    /* background-color: rgba(139, 69, 19, 0.205); */
    /* font-size: 10px; */
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;

}
.fomularioTitle{
    font-size: 3rem;
    position: relative;
    letter-spacing: 3px;
    top: 20%;
    left: 2%;
    /* background-color: rgba(138, 54, 96, 0.651); */
}
  /* /////////////////////////// PHONE //////////////////////////////// */

  @media (max-width: 425px){
      .contCard{
          position: absolute;
          width: 100vw;
          height: 100vh;
        top: 0%;
      }
    .formCont{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.548);
        border-radius: 0;
        box-shadow: 0 0 0;
        backdrop-filter: blur(2px);
        top: 0%;
        width: 100%;
        height: 100%;
    }
    .fomularioTitle{
        display: none;
    }
    .inputs{
        color: black;
        width: 100%;
        height: 80%;
    }
    .inputsError{
        width: 100%;
        height: 80%;
    }
    .cross{
        top: -600%;
        left: 35%;
        z-index: 10;
    }
    .fomularioInputs{
        position: relative;
        top: 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 75%;
    }
    .contIconoError{
        top: 10%;
        left: 90%;
    }
    .contIcono{
        top: 10%;
        left: 90%;
    }
    .btnDetails{
        position: relative;
        top: 3%;
    }
    .fomulario{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        /* background-color: rgb(251, 6, 6); */
    }
    .contenedorInputs{
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: blanchedalmond; */
        width: 100%;
        height: 40%;
    }
    .labelInput{
        position: relative;
        left: 0;
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: space-around;
        justify-content: center;
        width: 80%;
    }
  }