.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mainCont{
    width: 100vw;
    height: 100vh;
    /* background-image:url('../../assets/Black\ Flat\ &\ Minimalist\ Accounting\ Business\ Website\ \(5\).png'), */
    /* linear-gradient( rgba(170, 189, 168, 0.3), rgb(188, 212, 188,0.3), rgb(110, 143, 116,0.3)); */
   background-size: contain;
   background-clip: border-box;
   background-blend-mode:darken;
   background-position: center;
   background-repeat: no-repeat;
   overflow: hidden;
}

.contSlider{
    border-radius: 10px;
    background: linear-gradient(rgba(84, 107, 85, 0.5), rgba(7, 20, 14, 0.52), rgba(84, 107, 85, 0.5));
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px black;
    position: relative;
    top: 22vh;
    left: 12%;
    outline: none;
    width: 70%;
    height: 70vh;
}

.sliderGrid{
    position: relative;
    /* background-color: blue; */
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 65vh;
    outline: none;
    grid-template-columns:repeat(2, 50rem);
}

.bodyNone{ 
    display: none;
}

.btnNews{
    background: none;
    background-image: url('../../assets/arrow.png');
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    background-color: none;
    border: none;
    position: absolute;
    left: 1750px;
    top: 400px;
    transform: rotate(90deg);
    width: 150px;
    height: 100px;
    
}
.btnNews:hover{
    transition: 0.5s;
    animation-name: agrandar;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.btnNews::before,
.btnNews::after{
    --scale: 0;
    transform: translateX(-50%) translateY(100%) scale(var(--scale)) rotate(270deg);
    bottom: 1rem;
    left: 7rem;
    transition: .3s;
    
}
.btnNews::before{
    content: attr(data-tooltip);
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    border-radius: 15rem;
    height: 15rem;
    animation-name: agrandarbefore;
    animation-timing-function: ease;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.btnNews:hover::before{
    --scale:1;
}


@keyframes agrandar {
    from {
        background-size: 100px;
    }
    to{
        background-size: 120px;
    }
}

.imgAdd{
    transition: 0.3s;
    position: relative;
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 1000px;
    border: 2px solid rgba(0, 189, 13, 0.075);
    width: 100px;
    opacity: 0.6;
} 

.mainAdd{
    width: 40rem;
    height: 20rem;
}
.titleAdd{
    /* display: none; */
    opacity: 0.5;
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    font-weight: 300;
    /* left: 80px;
    position: relative; */
    text-align: center;
}
.cardContAdd:hover .titleAdd{
    display: inline;
    opacity: 1;
    font-size: 50px;
    color: #3b3b3b;
    transition: 0.3s;

}
.cardContAdd:hover .imgAdd{
    transition: 0.3s;
    background-color: #80cc28;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border: 2px solid rgba(0, 104, 189, 0.226);

}

.cardContAdd{
    transition: 0.3s;
    display: flex;
    background-image: url('../../assets/cicle.png');
    background-position:center;
    background-repeat: no-repeat;
    background-clip:padding-box;
    background-size: 70rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(19, 13, 13);
    border-radius: 10px;
    width: 40rem;
    height: 25rem;
    background-color: #a8b9a7;
    border:none;
    box-shadow: 0px 0px 15px black;
    
}
.cardContAdd:hover{
    transition: 0.3s;
    background-size: 80rem;
    border:none;
    background-color: #a2c3a1;

    box-shadow: 5px 5px 40px black;
}
.title{
    position: fixed;
    left: 37%;
    top:110px;
    font-size: 55px;
    font-weight: 400;
    color: rgba(0, 75, 0, 0.753);
    text-transform: uppercase;
}

.add{
    display: flex;
    justify-content: center;
}

.btnNewsOpen{
    transition: 0.3s;
    font-size:0px;
    background: none;
    background-image: url('../../assets/arrow.png');
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    background-color: none;
    border: none;
    position: fixed;
    left: 1750px;
    top: 400px;
    transform:rotate(0deg);
    width: 150px;
    height: 100px;
    z-index: 2;
}
.btnNewsOpen:hover{
    
    transition: 0.3s;
    font-size:100px;
    animation-name: agrandar;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    cursor: pointer;
}





/* ///////////NEWS////////////////////////// */
.newsContainer{
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    animation-name: slideNews;
    animation-duration: 0.3s;
    z-index: 1;

}
.newsContainerAct{
    background-color: rgba(0, 0, 0, 0.76);
    animation-name: slideNewsAct;
    animation-duration: 0.3s;
}
@keyframes slideNewsAct {
    from {
        height: 100vh;
    }

    to {
        height: 0vh;
    }
}

@keyframes slideNews {
    from {
        height: 0;
    }

    to {
        height: 100vh;
    }
}

@media (max-width: 1000px) {
    
}
.body{
    /* background-color: brown; */
    height: 100%;
}

/* /////////// Phone ////////////////// */
.contSliderCelular{
    display: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-color: brown; */
}
.sliderCelular{
    /* background-color: blueviolet; */
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
}
.mainCelular{
    /* padding-top: 10%; */
    width: 100%;
    /* background-color: chartreuse; */
    /* height: 80%; */
    /* display: block; */
    display: flex;
    text-align: center;
    justify-content: center;
}
.contenedorEmpresa{
    /* background-color: red; */
    /* height: 130; */
    display: flex;
    justify-content: center;
}


@media (max-width: 425px) {

    .btnNews{
        display: none;
    }

    .body{
        /* background-color: brown; */
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .contSlider{
        display: none;
    }
    .contSliderCelular{
        display: flex;
        background-color: rgba(0, 0, 255, 0);
    }
    .sliderCelular{
        background-color: rgba(137, 43, 226, 0);
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
    }
    .mainCelular{
        width: 95%;
        display: flex;
        justify-content: center;
    }
    .cardContAdd{
        display: flex;
        background-image: url('../../assets/cicle.png');
        background-position:center;
        background-repeat: no-repeat;
        background-clip:padding-box;
        background-size: 60rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: rgb(19, 13, 13);
        border-radius: 10px;
        width: 100%;
        height: 25rem;
        background-color: #a8b9a7;
        border:none;
        box-shadow: 0px 0px 15px black;
        
    }
    .link{
        padding-left: 5%;
        /* background-color: blue; */

    }
    .titleAdd{
        font-size: 250%;
    }
    .title{
        position:static;
        text-align: center;
        left: 0%;
        /* margin-top: 10%; */
        /* padding-top: 8%; */
        /* top:110px; */
        /* font-size: 55px; */
        font-weight: 400;
        color: rgba(0, 75, 0, 0.753);
        text-transform: uppercase;
        /* background-color: crimson; */
    }
    .contSliderCelular{
        /* background-color: rgba(0, 255, 255, 0.192); */
        width: 100%;
        height: 36rem;
    }
    /* .sliderCelular{
        background-color: rgba(0, 0, 0, 0.418);
    } */
    /* //// flechas slider //// */
    .arrowNext,
    .arrowPrev{
        position: absolute;
        top: 90%;
        width: 50px;
        height: 50px;
    }
    .arrowNext{
        background-image: url('../../assets/arrow.png');
        background-position: center;
        background-size: cover;
        transform: rotate(270deg);
        left: 55%;
    }
    .arrowPrev{
        background-image: url('../../assets/arrow.png');
        background-position: center;
        background-size: cover;
        transform: rotate(90deg);
        right: 55%;
    }
    .arrowNext:active,
    .arrowPrev:active{
        background-size: 90%;
    }


}
