@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


.intro{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    .mainBtn{
        width: 170px;
        height: 40px;
        font-size: 15px;
        color: rgb(0, 0, 0) ;
        text-transform: uppercase;
        text-decoration: none;
        background: #80cc28 !important;
        border-radius: 5px;
        border: none;
        transition: all 0.2s ease 0s;
    } 
    .slider img:hover{
        border: #a1a1a1;
        border-style: solid;
        border-width: thick;
    }  
    .slider {
        height: 25vh;
        background: transparent;
        overflow: hidden;
    }
.mainBtn:hover{
    cursor: pointer;
    background: #27963c !important;
    color:black !important;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}
.logo{
    width: 90px;
    height: 90px;
}
  .wrapper {
    width: 150px;
    height: 131px;
  }
  
  .title {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    width: 150px;
    height: 100px;
    /* padding-top: 30px; */
     border-radius: 5px;
    background: #7fcc2867;
    color: rgb(245, 244, 244);
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s; 
  }
  .wrapper:hover .title {
    visibility: visible;
    background-color:rgba(0, 0, 0, 0.938);
    border: none;
    opacity: 1;
  }
.leo {
    border: #41443eea;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    width: 100px;
    height: 100px; 
    object-fit: cover;
	box-shadow: 0 5px 10px rgba(0,0,0,0.8);
} 
.leo:hover{
    border: #80cc28;
    border-style: solid;
    border-width: thick;
}