.divtotal {
    background-image:
    url('../../assets/Black\ Flat\ &\ Minimalist\ Accounting\ Business\ Website\ \(7\).png');
    min-width: 100vw;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}


.page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  
.transporte {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18%;
    left: 180px;
    background-position:center;
    background-repeat: no-repeat;
    background-clip:padding-box;
    background-size: 650px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(19, 13, 13);
    border-radius: 10px;
    align-items: center;
    object-fit: cover;
    width: 550px;
    height: 300px;
    background-color: #05050548;
    border:none;
    box-shadow: 0px 0px 30px black;
}

.items{
    color: white;
    display: flex;
    justify-content: space-between;
}

.containerTransporte{
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-evenly;
    
    
}

.editar {
    color: rgb(251, 251, 251);
    font-size: 22px;
}

.titleAdd{
    /* display: none; */
    opacity: 0;
    font-size: 35px;
    color: black;
    transition: 0.9s;
    /* left: 80px;
    position: relative; */
    text-align: center;
}
.cardContAdd:hover .titleAdd{
    display: inline;
    opacity: 1;
    font-size: 35px;
    color: #ffffff;
    transition: 0.9s;

}

.cardContAdd{
    display: flex;
    position: relative;
    left: 180px;
    background-image: url('../../assets/cicle.png');
    background-position:center;
    background-repeat: no-repeat;
    background-clip:padding-box;
    background-size: 650px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(19, 13, 13);
    border-radius: 10px;
    align-items: center;
    object-fit: cover;
    width: 280px;
    height: 280px;
    background-color: #05050548;
    border:none;
    box-shadow: 0px 0px 30px black;
    
}
.cardContAdd:hover{
    transition: 0.9s;
    background-size: 900px;
    border:none;
    background-color: #43748a46;
    box-shadow: 5px 5px 40px black;
}

.imgAdd{
    position: relative;
    bottom: 18px;
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 900px;
    border: 2px solid rgba(0, 189, 13, 0.075);
    width: 100px;
} 
.imgAdd:hover{
    transition: 1s;
    background-color: #80cc28;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border: 2px solid rgba(0, 104, 189, 0.226);
}
