.divtotal {
    background: url('../../assets/Black\ Flat\ &\ Minimalist\ Accounting\ Business\ Website\ \(7\).png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width:250px;
}
.formCont{
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0.575), rgba(0, 0, 0, 0.753)),
    url('../../assets/Black\ Flat\ &\ Minimalist\ Accounting\ Business\ Website\ \(7\).png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.contActDel{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 4rem;
}

.btnActualizar{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color:#80cc28 ;
    color:rgb(22, 22, 22);
    border: none;
    font-size: 20px;
    align-items: center;
    width: 60%;
    height: 4rem;
    cursor: pointer;
    box-shadow: 0 0 5px;
    position: relative;
    transition: all 0.2s ease 0s;

}
.btnActualizar:hover{
    background-color: #27963c;
    color: #0a0a0a;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(70, 66, 66, 0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}
.btnRegistrar{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color:#80cc28 ;
    color:rgb(22, 22, 22);
    border: none;
    font-size: 20px;
    align-items: center;
    width: 40%;
    cursor: pointer;
    box-shadow: 0 0 5px;
    position: relative;
    top: 2rem;
    transition: all 0.2s ease 0s;
}
.btnRegistrar:hover{
    background-color: #27963c;
    color: #0a0a0a;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(70, 66, 66, 0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.cross{
    position: absolute;
    z-index: 4;
    top: 15rem;
    right: 55rem;
    border: none;
    background: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.329)),
    url('../../assets/cross.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width:6vh;
    height:6vh;
    border-radius: 10vh;
}
.cross:hover{
    background-image:  url('../../assets/cross.png');
    background-size: 90%;
    cursor: pointer;

}
.form{
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(20px);
    background: rgba(250, 250, 250, 0.37);
    box-shadow: 1px 0 15px black;
    border: 2px solid rgba(54, 54, 54, 0.363);
    width: 50vw;
    height: 70vh;
    border-radius: 25px;
    font-size: 18px;
    height: 80vh;
}


.page{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100vw;
   margin-bottom: 0px;

}
.cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.226);
    box-shadow: 1px 0 15px black;
    border: 2px solid rgba(54, 54, 54, 0.363);
    width: 70vw;
    height: 70vh;
    

}
.transporte {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 90%;
    height: 90%;
    margin: 30px;
    border-radius: 10px;
    background: rgb(148, 148, 148);
    box-shadow: 0 0 10px black;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;

}

.items{
    color: white;
    display: flex;
    text-align: start;
    align-items: flex-start;
    justify-content: space-between;
}

.containerTransporte{
    display: flex;
    align-items: center;
    background-color: rgba(133, 133, 133, 0.774);
    flex-direction: row;
    border-radius: 10px;
    height: 80%;
    overflow: scroll;
    overflow-y: hidden;
    width: 50%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;  
}
.containerTransporte::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  .containerTransporte::-webkit-scrollbar-thumb {
    background: rgb(8, 54, 56);
    border-radius: 10px;
}
  .containerTransporte::-webkit-scrollbar-track {
    background: transparent;
}

  .slides > div:target {
  /*   transform: scale(0.8); */
  }
.editar {
    color: rgb(251, 251, 251);
    font-size: 22px;
}

.titleAdd{
    /* display: none; */
    opacity: .7;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.596);
    transition: 0.3s;
    position: relative;
    bottom: 2rem;
    font-weight: 600;
    text-align: center;
}
.cardContAdd:hover .titleAdd{
    /* display: inline; */
    opacity: 1;
    color: #ffffff9f;
    transition: 0.3s;

}

.cardContAdd{
    transition: .3s;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(19, 13, 13);
    border-radius: 10px;
    align-items: center;
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    background-color: #82aa9248;
    border:3px solid rgba(70, 70, 70, 0.109);
    box-shadow: 0px 0px 10px black;
    
    
}
.cardContAdd:hover{
    transition: 0.3s;
    background-size: 900px;
    border:none;
    background-color: #43748a46;
    box-shadow: 0px 0px 10px black;
    border:3px solid rgba(3, 3, 3, 0.363);

}
.cardContAdd:hover .imgAdd{
    transition: 0.3s;
    opacity: 1;
    background-color: #00f7ff18;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.imgAdd{
    position: relative;
    bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 900px;
    border: 2px solid rgba(0, 189, 13, 0.075);
    width: 80px;
    opacity: .7;
} 

@media screen and (max-width: 400px){
    
    .page{
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }
    .cont{
       width: 100%;
       flex-direction: column;
 
    
    }
    .cardContAdd{
        width: 80%;
        height: 80%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5%;
        margin-left: 10%;
        margin-bottom: 5%;
        margin-top: 20px
    }
    .containerTransporte{
        width: 100%;
        flex-direction: column;
        height: 100%;
    }
    .transporte{
        width: 100%;
        flex-direction: column;
        margin-top: 3px;
        padding: 1%;
        margin-bottom: 1%;
        height: 100%;
    }
    .items{
        font-size: 20%;
        padding: 0px;
        margin-bottom: 1%;
        margin-top: 1%
    }
}

