.contenedorGasto{
    background-color: rgba(0, 0, 0, 0.178);
    justify-content: center;
}

.btn{
    width: 5%;
}

.contBtn{
    background-color: rgba(15, 202, 15, 0.377);
    /* display: block; */
    width: 15%;
}
.xx{
    width: 80px;
}
.btn{
    width: 25%;
    border: none;
}
.img{
    cursor: pointer;
    width: 23%;
    height: 1.7rem;
    margin-right: 15%;
    background-color: none;
}
.imgAgregar{
    cursor: pointer;
    position: relative;
    top: 0.5rem;
    width: 30%;
    height: 1.7rem;
    color: green;
    /* background-color: green; */
    /* background-color: red; */
}
.imgTacho{
    cursor: pointer;
    width: 23%;
    height: 1.7rem;
    margin-right: 15%;

}
.imgTachoF{
    width: 0%;
    height: 1.7rem;
    margin-right: 15%;
}
.input{
    width: 100%;
}