

.btn{
    width: 5%;
}

.contBtn{
    background-color: rgb(15, 202, 15);
    /* display: block; */
    width: 15%;
}
.xx{
    width: 80px;
}
.btn{
    width: 25%;
    border: none;
}
.img{
    cursor: pointer;
    width: 23%;
    height: 1.7rem;
    margin-right: 15%;
    background-color: none;
}
.imgTacho{
    cursor: pointer;
    width: 23%;
    height: 1.7rem;
    margin-right: 15%;

}

.input{
    width: 100%;
}