@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    margin: 0;
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0.575), rgba(0, 0, 0, 0.753)),
    url('https://w.wallha.com/ws/5/ez5lK3xB.jpg');
}

.body-weather{
    min-width: 100vw;
    min-height: 87vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid wheat; */
    padding-bottom: 100px;
}
.container-weather {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 12rem;
    background-color:#ffffff71;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    height: 370px;
    width: 350px;
    font-weight: bold;
}
.current-weather h1{
    margin-top: 0;
    margin-bottom: 0;
}
.current-weather h4{
    margin-top: 3px;
}


.forecast {
    display: flex;
    justify-content: space-evenly;
}

.forecast-day {
    background-color: rgba(75, 177, 57, 0.71);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    height: 200px;
    min-width: 200px;
    padding: 0px;
    margin: 0 2rem;
    font-size: 20px;
    font-weight: bold;
}
.forecast-day p {
    margin-top: 0;
    margin-bottom: 0;
    
}
.forecast-extended{
    font-weight:bolder;
    color: white;
    margin-top: 40px;
    
}
.temperatures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}
.wind_humidity{
    display: flex;
    justify-content: space-between;
    padding: 7px;

}
.wind_dir{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.live{
    width: 60px;
}
.day-week{
    font-weight: bold;
}