@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* body{
    margin: 0;
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0.575), rgba(0, 0, 0, 0.753)),
    url('https://w.wallha.com/ws/5/ez5lK3xB.jpg');
} */

.body-weather{
   width: 100vw;
   height: 100vh;
   /* background-color: aqua; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.contendor2{
    width: 100%;
    height: 100%;

}

.contendortiempo{
    background-color: rgba(3, 3, 3, 0.459);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:1vh;
    box-shadow: 0 0 25px;
}
.tiemporeal{
    width: 65%;
    height:65%;
    display: flex;
    /* justify-content: space-around;
    flex-direction:row-reverse; */
}
.current-weather {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.623);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 70%;
    width: 30%;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.774);

   
}

.iconoweather{
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: -9%;
}

.current-weather h1{
    margin-top: 8px;
    color: black;
    margin-bottom: 0;
}

.current-weather h4{
    margin-top: 15px;
    color: rgb(10, 10, 10);
}




.forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 30%;

}

.restinfo{
    display: flex;
}
.leyenda{
    display: none;
}

.forecast-day {
    color: black;
    background-color: rgba(126, 207, 119, 0.699);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.774);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.forecast-day p {
    margin-top: 0;
    color: black;
    margin-bottom: 0;
    
}

.forecast-day img{
    display: flex;
    flex-direction: row;
}

.forecast-extended{
    color: black;
    font-weight:bolder;
    color: white;
    background-color:black
    
    
}
.temperatures {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}
.wind_humidity{
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px


    

}
.wind_dir{
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin-left: 15px;
    margin-right: 22px;
    margin-top: 10px


}
.live{
    width: 60px;
    margin-left: 42%;
    margin-top: 5px;

}
.day-week{
    font-weight: bold;
    font-size: 15px;
    align-items: center;
    display: flex;
}
.date{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}

.restinfo{
    display: flex;
    align-self: center;
    margin-top: -3%;
}

@media (max-width: 425px) {
    .contendortiempo{
        display: flex;
        flex-direction: column;
        height: 130%;
        margin-top: -10%;
        

    } 
    .current-weather{
        display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(190, 43, 43, 0.623);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 50%;
    width: 80%;
    align-content: center;
    }
    .leyenda {
        display: inline;
        color: black;
        margin-top: 10%;
    }
    .current-weather h1{
        font-size: 25px;
    }
    .actual-temp {
        font-size: 10px;
    }
    .current-weather img{
        display: none;
    }
    .current-weather h4{
        font-size: 18px;
        margin-top: 0;
    }
    .forecast{
        display: flex;
        flex-direction: row;
        margin-top: -30%;
        justify-content: center;
    }
    .forecast-day{
    width: 120px;
    display: flex;
    justify-content: center;
    }
    .forecast-day h3{
        font-size: 13px;
        margin-left: -30%;
    }
    .restinfo{
        display: flex;
        flex-direction: column;
    }
    .restinfo img{
        width: 50%;
        margin-top: -20%;
        margin-left: 20%;
    }
    .temperatures{
        display: flex;
        flex-direction: row;
        margin-top: 0;
        
    }
    .temperatures p {
        font-size: 16px;
        text-align: center;
    }
    .actual-temp{
        margin-top: 0;
        font-size: 10px;
    }
    .wind_humidity{
        margin-top: 0;
    }
}