/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.input{
    background-color: rgba(0, 128, 0, 0.425);
    margin: -100px 10px 10px 0;
    padding: 12px;
    color: black;
    font-size: 18px;
    box-shadow: 0 0 5px rgb(0, 0, 0)
}

.input:hover{
    background-color: rgba(151, 209, 65, 0.445);
}

.tituloCard {
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
    align-items: center;
    text-align: center;
}

.contentOverflow {
    box-shadow: 0 0 20px black;
    flex-direction:column;
    justify-content:center;
    border-radius: 8px;
    max-width: 120vh;
    margin-left: auto;
    margin-right: auto;
    left: 35vh;
    height: 65vh;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #ffffff38;
    overflow:auto;
    
}

.contentOverflow::-webkit-scrollbar {
    background: rgba(122, 119, 119, 0.356);
    border-radius: 4px;
    width: 10px;
}

.escalasImg {
    max-width: 500px;
    max-height: 450px;
    align-items: center;
    align-content: center;
}

.btn {
    margin-left: 2px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px !important;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    background: #80cc28 !important;
    padding: 13px !important;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.2s ease 0s;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.btn:hover {
    cursor: pointer;
    background: #27963c !important;
    color: black !important;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}

.icon {
    width: 50px;
    height: 50px;
}


/* .main {
    max-width: 1000px;
    width: 90%;
    margin: auto;
} */


.titulo {
    color: rgb(32, 129, 45);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 90px;
}

/* categorias */

.sub {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.categorias {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15vh;
    top: 32vh;

}


.categoria {
    box-shadow: 0 0 10px;
    cursor: pointer;
    align-content: flex-end !important;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 180px;
    text-transform: uppercase;
    height: 88px;
    padding: 20px;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.37);
    font-weight: 500;
    border: 2px solid transparent;
    transition: .3 ease all;
    font-size: 12px;
    margin-bottom: 10px;
    color: black;
}

.categoria:hover {
    background-color: rgba(0, 128, 0, 0.425);

    
   

}

.categoria:focus {

    background-color: rgba(0, 128, 0, 0.425);
    border: solid #80cc28;
    color: black
}


.body{
    font-size: 20px;
    font-weight: 700;
}

.resultados {
    scroll-snap-type: mandatory;
    padding: 15px;
    border-radius: 13px;
    display: flex;
    position: relative;
    right: 2px;
    flex-direction: column;
    max-width: 600px;
    min-width: 600px;
    background-color: rgba(255, 255, 255, 0.678);
    color: rgba(0, 0, 0, 0.609);
    margin: 10px auto;
    font-size: 19px;
    box-shadow: 0 0 15px;

}