.all{
    margin:0 auto;
    overflow: hidden;
}

.datatableContainer{
    display: flex;
    align-content: center !important;
    justify-content: center !important;
    background-color: #0e0e0e4d;
    box-shadow: 0 0 15px black;
    color: white;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 390px;
    width: 40%;
    height: 320px;
    margin: 1rem 0 0 57.7rem !important;
    font-size: 12px;
    padding: 20px;
    margin: 0 auto;

}

.datatableContainer::-webkit-scrollbar {
    transition: 0.3s;
    width: 1rem;
    background: rgba(224, 224, 224, 0.185);
    border-radius: 4px;
}

.tareas{
    color: rgba(0, 75, 0, 0.774);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    padding: 90px;
    text-transform: uppercase;
}

label{
    color: black;
}

.datatable{
    border-collapse: collapse;
    width: 100%
}
.datatableContainer .datatable,
.datatableContainer .datatable th,
.datatableContainer .datatable td{
padding: 12 12px ;
}

.datatableContainer .datatable th{
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px #406a11b6;
}

.datatableContainer .datatable td{
    border-bottom: solid 1px #406a11b6;
}



.estilosForm{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#0a0a0a8c;
    margin:  auto;
    background-color: #d4d4d471;
    padding: 30px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: -7rem;
    position: relative;
    box-shadow: 0 0 15px;
}
.otroInput{
    border: none;
    display: block;
    align-items: center;
    outline: none;
    padding: 10px;
    width: 380px;
    border-radius: 5px;
    margin: 10px 0 0 26px;
}
.check{
    margin: 2px 0px 0px;
    width: 2px;
    padding: 1px
}
.buttonTarea{
    margin: 15px 0 0 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    background-color:#80cc28 ;
    color:rgb(3, 3, 3);
    border: none;
    font-size: 20px;
    align-items: center;
    width: 380px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s ease 0s;
    
    
}
.buttonTarea:hover{
    background-color: #27963c;
    color: #0a0a0a;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}

.tablita{
    color:white;
    font-size: 19px;
}



.disabledButton{
    margin: 15px 0 0 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    background-color:#bcdd96 ;
    color:rgb(3, 3, 3);
    border: none;
    font-size: 20px;
    align-items: center;
    width: 380px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    transition: all 0.2s ease 0s;
}

.disabledButton:hover{
    cursor: not-allowed;
}
.modificarTarea{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('https://image.flaticon.com/icons/png/512/61/61456.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    background-color:#80cc28 ;
    border: none;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease 0s;
    
}
.modificarTarea:hover{
    background-color: #27963c;
    width: 2.6rem;
    color: #0a0a0a;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}
.eliminarEmpresa{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    font-size: 25px;
    color: #0a0a0a;
    display: inline-block;
    text-decoration: none;
    background-color:#fc3e3e73;
    border: none;
    text-align: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease 0s;
    
}

.select{
    font-size: 18px;
    height: 35px;
    width: 300px;
    margin: 2px 0 5px 0;
    font-weight: 400;
    font-family: sans-serif;
    padding: 6px;
    color: black;
    cursor: pointer;
    background: #80cc28;
    border-radius: 5px;
	display: inline-block;
    box-shadow: 0 0 10px;
	border: none;
}
.select:hover{
    background: #80cc28;
    cursor: pointer;
	letter-spacing: 0.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.5s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}

.eliminarEmpresa:hover{
    background-color:#fc3e3e ;
    color: #0a0a0a;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}
.actualizar{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    font-size: 25px;
    color: #0a0a0a;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(66, 123, 66);
    border: none;
    text-align: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease 0s;   
}
.actualizar:hover{
    background-color: green ;
    color: #0a0a0a;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}
.cadaTarea{
    font-size: 20px;
    margin-right: 18px;
    font-family: sans-serif;
    font-weight: 400;
}