@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.perfilDeploy{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    background-color: #ffffff;
    height: 450px;
    width: 350px;
    right: 0px;
    top: 0px;
    border-radius: 0 0 0 10px;
    animation-duration: 0.3s;
    animation-name: slidein;
    animation-timing-function: ease;
    animation-fill-mode: none;
}
@keyframes slidein {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(to bottom, #2f4f39, rgba(0, 0, 0, 0));
}

.perfilbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
    width:90px;
    height: 90px;
    border: none;
    border-radius: 100%;
    background-color: rgba(34, 119, 25, 0);
    margin-right: 100px;
    margin-top: 30px;
    position: relative;
}
.perfilbtn:hover{
    transition: 0.3s;
    background-size:48px;
    box-shadow: 0 0 10px rgba(84, 85, 84, 0);
    background-color: rgba(68, 255, 68, 0);


}
.perfilimg{
     cursor: pointer;
    display: flex;
    margin-top: -20px; 
    width: 100px;
    border-radius: 90px;
    
}
.perfilimg:hover{
    box-shadow: 5px 5px 0 rgb(3, 3, 3);
}

.logo{
    display: flex;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;    
    transition: 0.2s;
    animation-duration: 0.2s;
    animation-name: logoanimation;
    animation-timing-function: ease;
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform:rotateY(0deg); 

}

.logoAct{
    display: flex;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
    animation-duration: 0.2s;
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform:rotateY(150deg); 
}


.title{
    cursor: default;
    color: rgb(0, 0, 0);
    font-size: 130%;
    margin-top: 40px;
    margin-left: 25px;
}
.email{
    cursor: default;
    color: rgb(0, 0, 0);
    font-size: 130%;
    margin-top: 10px;
    margin-left: 25px;

}

.settings{
    width: 20px;
    font-size: 28px;
    margin-top:15px;
    color: rgb(0, 0, 0);
    transition: all 0.4s ease 0s;
    
}
.settings:hover{
    color: rgb(69, 236, 27);
    cursor: pointer;
    font-size:29px
}
.perfilbtncont{
    width: 100%;
    padding-left: 80px;
}
.titleLogout{
    color: rgb(0, 0, 0);
    margin-left: 25px;
    margin-top: 32px;
    font-size: 20px;
    transition: all 0.4s ease 0s;
    font-family: sans-serif;
    font-weight: 500;
}
.titleLogout:hover{
    cursor: pointer;
    color: rgb(69, 236, 27);
    font-size: 21px;
    letter-spacing: 0.5px;

}

.cuenta{
    display: flex;
}
.contenido{
    display: flex;
    margin-bottom: -30px;
    text-transform: capitalize;
    margin-left: 23px;
}
