.nombre{
    margin-left: 550px;
}

.cross{
    position: absolute;
    z-index: 4;
    top: 15rem;
    right: 55rem;
    border: none;
    background: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.329)),
    url('../../assets/cross.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width:6vh;
    height:6vh;
    border-radius: 10vh;
}
.cross:hover{
    background-image:  url('../../assets/cross.png');
    background-size: 90%;
    cursor: pointer;

}
.selectUbicacion{
    position: relative;
    top: 2rem;
    font-size: 20px;
    width: 360px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
    background: #80cc28;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 1px;
	border: none;
}

.selectUbicacion:hover{
    background: #5a9c0e;
    cursor: pointer;
	letter-spacing: 0.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.5s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}

.fileImg{
    position: relative;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    position: relative;
    top: 1rem;
    margin: 20px;
    width: 200px;
    border-radius: 35px;
    box-shadow: 0 0 4px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.226);
}
.estilosForm{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(20px);
    background: rgba(250, 250, 250, 0.37);
    box-shadow: 1px 0 15px black;
    border: 2px solid rgba(54, 54, 54, 0.363);
    width: 50vw;
    height: 70vh;
    border-radius: 25px;
    font-size: 18px;
    position: relative;
    height: 80vh;
}
input{
    border: none;
    outline: none;
    padding: 10px;
    width: 360px;
    border-radius: 5px;
    margin: 10px 0;
}
label {
    font-size: 18px;
    display:block;
    width:100%;
    text-align: left;
    
}
.inputsNewEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    align-items: flex-start;
    text-align: center;
    /* background-color: burlywood; */
}
.inputCont{
    text-align: center;
    /* background-color: blueviolet; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.alineado {
    text-align: center;
    /* margin-top: 12rem; */
    align-items: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #ffffff;
}



.buttonCrearEmpresa{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    background-color:#80cc28 ;
    color:rgb(3, 3, 3);
    border: none;
    font-size: 20px;
    align-items: center;
    width: 380px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    transition: all 0.2s ease 0s;
    
    
}
.buttonCrearEmpresa:hover{
    background-color: #27963c;
    color: #0a0a0a;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}
    
.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 100vh;
    /* position: relative; */
    /* bottom: 10vh; */
    /* background-color: yellow; */
    /* width: 40%; */
    /* left: 30%; */
}

.imgPhone{
    display: none;
}
@media (max-width: 425px) {

    .cross{
        display: none;
    }
    .div{
        /* background-color: red; */
        height: 100vh;
        width: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .caja{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 18%;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 100vh;
        /* background-color: black; */
    }
    .alineado{
        text-align: center;
        text-transform: uppercase;
        font-size: 4.5rem;
        padding-left: 1%;
        padding-right: 1%;
        position:static;
        font-weight: 400;
        color: rgba(0, 75, 0, 0.753);
        text-transform: uppercase;
        /* background-color: crimson; */
    }
    

    .estilosForm{
        /* background-color: black; */
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        backdrop-filter: blur(20px);
        background: rgba(250, 250, 250, 0.37);
        box-shadow: 1px 0 15px black;
        border: 2px solid rgba(54, 54, 54, 0.363);
        width: 100%;
        border-radius: 0px;
        font-size: 18px;
        position: relative;
        height: 70%;
    }

    .inputsNewEmpresa{
        /* background-color: rgba(0, 0, 0, 0.548); */
        /* border: 3px solid black; */
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: none;
        height: 40%;
        align-items: flex-start;
        text-align: center;
    }
    .inputCont{
        text-align: center;
        /* background-color: blueviolet; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .selectUbicacion{
        width: 70%;
    }
    
    input{
        border: 1px solid rgb(3, 87, 3);
        outline: none;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        margin: 0;
    }
    .inputCrear{
        border: none;
        width: 18.3rem;
    }
    .fileImg{
        /* background-color: rgba(0, 0, 255, 0.418); */
        /* border: 0.5px solid black; */
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .img{
        display: none;
    }

    .contPhoneAux{
        /* background-color: rgba(0, 0, 255, 0.623); */
        display: flex;
        justify-content: space-around;
    }
    .imgPhone{
        display:block;
        width: 25%;
        height: 50%;
    }

    .buttonCrearEmpresa{
        width: 100%;
    }
}
