.div {
    background-image:
    linear-gradient(to bottom, rgba(31, 31, 31, 0.575), rgba(0, 0, 0, 0.753)),
    url('../../assets/Black\ Flat\ &\ Minimalist\ Accounting\ Business\ Website\ \(5\).png');
    min-width: 100vw;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

.totbox{
    margin-top: 70px;
}
.fileImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 80vh;
    
    /* position: relative; */
    /* bottom: 10vh; */
    /* background-color: yellow; */
    /* width: 40%; */
    /* left: 30%; */
}
    
    

.description{
    text-align:left ;
    align-content: center;
    width:380px;
    margin: 0 auto;
    align-items: center;
    /* padding: 10rem; */
    justify-content: center;
    /* margin: 50px auto;
    float:none; */
    margin: 50px auto;
   
}
.name{
    text-align: center;
}
.buttonCrearEmpresa{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    background-color:#80cc28 ;
    color:rgb(3, 3, 3);
    border: none;
    font-size: 20px;
    align-items: center;
    width: 380px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    transition: all 0.2s ease 0s;
    
    
}
.buttonCrearEmpresa:hover{
    background-color: #27963c;
    color: #0a0a0a;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}

.inputCrear{
    border: none;
    outline: none;
    padding: 10px;
    width: 360px;
    border-radius: 5px;
    margin: 10px 0;
}

.labelCrear {
    font-size: 18px;
    display:block;
    width:100%;
    text-align: left;
    
}
.estilosForm{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 30%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    background-color: #ffffff71;
    padding: 30px;
    border-radius: 8px;
    font-size: 18px;
    position: relative;
    height: 90vh;
    
}
.alineado {
    text-align: center;
    /* margin-top: 12rem; */
    align-items: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #ffffff;
}
.eliminarEmpresa {
    color: rgb(0, 0, 0);
    
    
}