
.contClasificacion{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
}

.btnClasificacion{
    cursor: pointer;
    display: flex;
    /* background-color: rgb(255, 255, 255); */
    /* color: rgb(0, 0, 0); */
    height: 100%;
    width: 100%;
    align-items: center;
    /* font-size: 24px;
    font-weight: 10px; */

    letter-spacing: 1px;
}
