
.main{
    display: flex;
    bottom: 70px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 450px;
    
}
.cardCont{
    transition: 0.3s;
    display: flex;
    background-image: url('../../assets/cicle.png');
    background-position:center;
    background-repeat: no-repeat;
    background-clip:padding-box;
    background-size: 80rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(19, 13, 13);
    border-radius: 10px;
    width: 50rem;
    height: 25rem;
    background-color: #a8b9a7;
    border:none;
    box-shadow: 0px 0px 15px black;
}
.cardCont:hover{
    transition: 0.3s;
    background-size: 900px;
    border:none;
    background-color: #a2c3a1;

    box-shadow: 5px 5px 40px black;
}
.imgEmpresa{
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 36, 0, 0.746);
    border-radius: 10px;
    width: 35rem;
    z-index: 2;
    height: 15rem;
}
a{
    text-decoration: none;
}