.datatableContainer{
    display: flex;
    align-content: center !important;
    justify-content: center !important;
    background-color: #0e0e0e4d;
    color: white;
    border-radius: 10px;
    width: 700px;
    height: 500px;
    margin: 4rem 0 0 38rem;
    font-size: 12px;
    padding: 10px
}

/* .componentetotal{
    background: url(../../assets/Black\ Flat\ &\ Minimalist\ Accounting\ Business\ Website\ \(8\).png);
    background-size: cover;
    background-repeat: no-repeat
} */

.dolarHoy{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    margin-top: 3rem;
}
.datatable{
    border-collapse: collapse;
    width: 100%
}
.datatableContainer .datatable,
.datatableContainer .datatable th,
.datatableContainer .datatable td{
padding: 12 12px ;
}

.datatableContainer .datatable th{
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px #406a11b6;
}

.datatableContainer .datatable td{
    border-bottom: solid 1px #406a11b6;
}