.datatableContainer{
    display: flex;
    align-content: center !important;
    justify-content: center !important;
    background-color: #cfcccc73;
    color: black;
    border-radius: 10px;
    width: 1000px;
    height: 600px;
    margin: -9rem 0 0 44.5rem;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    border: solid rgba(165, 163, 163, 0.575) 0.5px;
    box-shadow: 0 0 15px black;
}


/* 
.componentetotal{
    width: 100%;
    height: 100%;
} */

.dolarHoy{
    color: rgba(0, 77, 0, 0.596);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0rem;
    padding: 120px;
}
.datatable{
    border-collapse: collapse;
    width: 100%
}
.datatableContainer .datatable,
.datatableContainer .datatable th,
.datatableContainer .datatable td{
padding: 12 12px ;
}

.datatableContainer .datatable th{
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px #406a11b6;
}

.datatableContainer .datatable td{
    font-size: 17px;
    border-bottom: solid 1px #406a11b6;
}