.caja{
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 20px;
    /* width: 20px; */
      height:180px;
      width:450px;
      align-content: center;
      margin: 0 auto;
      justify-content: center;
      
}
    
    

.description{
    text-align:left ;
    align-content: center;
    width:350px;
    margin: 0 auto;
    align-items: center;
    /* padding: 10rem; */
    justify-content: center;
    /* margin: 50px auto;
    float:none; */
    margin: 50px auto;
   
}
.tareas{
    text-align:left;
    align-content: center;
    
}

.items{
    float: left;
    
}
.name{
    text-align: center;
}
